:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #0b0b0b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0b0b0b;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
